{% load static %}

<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>增加机器拉</title>
		<link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}" />
	</head>

	<body>
		<div class="page-content-wrap">
		    <form class="layui-form"  id="form_id" action="/addhost/" method="post">
                {%csrf_token%}
		    	<div class="layui-tab" style="margin: 0;">
		    		<div class="layui-tab-content">
		    			<div class="layui-tab-item layui-show">
		    				<div class="layui-form-item">
		    					<label class="layui-form-label">主机名称</label>
		    					<div class="layui-input-block">
		    						<input type="text" name="hostname" required lay-verify="required" placeholder="请输入主机名称" autocomplete="off" class="layui-input">
		    					</div>
		    				</div>
		    				<div class="layui-form-item">
		    					<label class="layui-form-label">内网IP地址</label>
		    					<div class="layui-input-block">
		    						<input type="text" name="ipin" required lay-verify="required" placeholder="请输入内网IP地址" autocomplete="off" class="layui-input">
		    					</div>
	                        </div>
                            <div class="layui-form-item">
		    				<label class="layui-form-label">外网IP地址</label>
		    				<div class="layui-input-block">
		    					<input type="text" name="ipout" required lay-verify="required" placeholder="请输入外网IP地址" autocomplete="off" class="layui-input">
		    				</div>
                        </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">磁盘</label>
                                <div class="layui-input-block">
                                    <input type="text" name="disk" required lay-verify="required" placeholder="请输入磁盘" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">CPU</label>
                                <div class="layui-input-block">
                                    <input type="text" name="cpu" required lay-verify="required" placeholder="请输入CPU类型个数" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">内存</label>
                                <div class="layui-input-block">
                                    <input type="text" name="mem" required lay-verify="required" placeholder="请输入内存" autocomplete="off" class="layui-input">
                                </div>
                            </div>
		    			</div>
                        <script type="text/javascript" src="static/admin/layui/tip.js"></script>
		    		</div>
		    	</div>
				<div class="layui-form-item btnsub" style="padding-left: 10px;">
					<div class="layui-input-block">
{#						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" username="123" userid="1234">立即提交</button>#}
                        <button class="layui-btn layui-btn-normal" style="margin-right:20px" id="form-btn">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        {% if result.statu == 'success' %}
                        <a>添加成功</a>
                        {% endif %}
                    </div>
                </div>
		    </form>
		</div>
		<script type="text/javascript">
			var SCOPE = {
				static: '/static',
				index: '/admin/category/index.html',
				add: 'add.html',
				save: '/admin/category/save.html',
				edit: 'add.html',
				updateEdit: '/admin/category/updateedit.html',
				status: '/admin/category/updatestatus.html',
				del: '/admin/category/del.html',
				delAll: '/admin/category/deleteall.html',
				listOrderAll: '/admin/category/listorderall.html'
			}
		</script>
		<script src="{% static 'layui/layui.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/common.js' %}" type="text/javascript" charset="utf-8"></script>
		<script>

            let form = document.getElementById('form-id');
            form.onclick=function (e) {
                    var r=confirm("确认提交吗？")
                      if (r==true)
                        {
                      //确定

                        }
                      else
                        {
                        //取消
                        }
            }

			layui.use(['form', 'jquery', 'laydate', 'layer', 'laypage', 'dialog',  'element', 'upload', 'layedit'], function() {
				var form = layui.form(),
					layer = layui.layer,
					$ = layui.jquery,
					laypage = layui.laypage,
					laydate = layui.laydate,
					layedit = layui.layedit,
					element = layui.element(),
					dialog = layui.dialog;

				//获取当前iframe的name值
				var iframeObj = $(window.frameElement).attr('name');
				//创建一个编辑器
				var editIndex = layedit.build('LAY_demo_editor', {
					tool: ['strong' //加粗
						, 'italic' //斜体
						, 'underline' //下划线
						, 'del' //删除线
						, '|' //分割线
						, 'left' //左对齐
						, 'center' //居中对齐
						, 'right' //右对齐
						, 'link' //超链接
						, 'unlink' //清除链接
						, 'image' //插入图片
					],
					height: 100
				})
				//全选
				form.on('checkbox(allChoose)', function(data) {
					var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
					child.each(function(index, item) {
						item.checked = data.elem.checked;
					});
					form.render('checkbox');
				});
				form.render();

				layui.upload({
					url: '上传接口url',
					success: function(res) {
						console.log(res); //上传成功返回值，必须为json格式
					}
				});
			});
		</script>
	</body>

</html>